[submodule "meta/core"]
	path = meta/core
	url = git://oe-lite.org/oe-lite/core.git
[submodule "meta/base"]
	path = meta/base
	url = git://oe-lite.org/oe-lite/base.git
[submodule "lib/fetching/fetching"]
	path = lib/fetching/fetching
	url = git://oe-lite.org/python-fetching
[submodule "lib/GitPython"]
	path = lib/GitPython
	url = git://oe-lite.org/gitpython/GitPython.git
[submodule "meta/bcm2835"]
	path = meta/bcm2835
	url = git://oe-lite.org/oe-lite/bcm2835.git
[submodule "lib/urlgrabber"]
	path = lib/urlgrabber
	url = git://oe-lite.org/urlgrabber.git
