[submodule "meta/core"]
	path = meta/core
	url = ./meta/core
[submodule "meta/base"]
	path = meta/base
	url = ./meta/base
[submodule "lib/fetching/fetching"]
	path = lib/fetching/fetching
	url = ./lib/fetching/fetching
[submodule "lib/GitPython"]
	path = lib/GitPython
	url = ./lib/GitPython
[submodule "meta/bcm2835"]
	path = meta/bcm2835
	url = ./meta/bcm2835
[submodule "lib/urlgrabber"]
	path = lib/urlgrabber
	url = ./lib/urlgrabber
