[submodule "meta/core"]
	path = meta/core
	url = ../core.git
	branch = master
[submodule "meta/base"]
	path = meta/base
	url = ../base.git
	branch = master
[submodule "meta/bcm2835"]
	path = meta/bcm2835
	url = ../bcm2835.git
	branch = master
[submodule "lib/urlgrabber"]
	path = lib/urlgrabber
	url = git://oe-lite.org/urlgrabber.git
	branch = master
